{% load static %}

{% load cache %} <!-- Загружаем кэширование -->

<!DOCTYPE html>
<html lang="en">

{% cache 100 head %}
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Mikhail's Blog</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'portfolio/img/favicon_32.png' %}" rel="icon">
  <link href="{% static 'portfolio/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Vendor CSS Files -->
  <link href="{% static 'portfolio/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'portfolio/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'portfolio/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'portfolio/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'portfolio/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: DevFolio - v4.7.1
  * Template URL: https://bootstrapmade.com/devfolio-bootstrap-portfolio-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>
{% endcache %}

{% cache 100 body %}
<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="{% url 'home' %}">Mikhail Ryamov</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href="{% url 'home' %}">Home</a></li>
          <li><a class="nav-link scrollto" href="https://mikryam.eu.pythonanywhere.com/#about">About</a></li>
          <!-- <li><a class="nav-link scrollto" href="#services">Services</a></li> -->
          <!-- <li><a class="nav-link scrollto " href="#work">Work</a></li> -->
          <li><a class="nav-link scrollto " href="{% url 'blog:all_blogs' %}">Blog</a></li>
          <!-- <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li> -->
          <li><a class="nav-link scrollto" href="https://mikryam.eu.pythonanywhere.com/#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <div class="hero hero-single route bg-image" style="background-image: url(/static/blog/img/home-bg.jpg)">
    <div class="overlay-mf">
     <div class="hero-content display-table">
      <div class="table-cell">
        <div class="container">
          <p class="hero-subtitle">{{ blog.title }}</p>
          <p class="logo">Posted by Mikhail Ryamov on {{ blog.date|date:'F jS Y' }}</p>
          <!-- <h4>Mikhail has written {{ blogs_count }} post{{ blogs.count|pluralize }}</h4> -->
          <!-- <ol class="breadcrumb d-flex justify-content-center">
            <li class="breadcrumb-item">
              <a href="#">Home</a>
            </li>
            <li class="breadcrumb-item">
              <a href="#">Library</a>
            </li>
            <li class="breadcrumb-item active">Data</li>
          </ol> -->
        </div>
      </div>
      </div>
    </div>
  </div>

  <main id="main">

            <!-- Main Content-->
            <br>
            <br>
            <div class="container px-4 px-lg-5">
              <div class="row gx-4 gx-lg-5 justify-content-center">
                  <div class="col-md-10 col-lg-8 col-xl-7">
                    {{ blog.text|safe }}

                      <!-- Pager-->
                      <br>
                      <br>
                      <div class="d-flex justify-content mb-4"><a class="btn btn-primary text-uppercase" href="#" onclick="history.go(-1)">&lt  Back</a></div>
                      <!-- <div class="d-flex justify-content mb-4"><a class="btn btn-primary text-uppercase" href="{% url 'blog:all_blogs' %}">←  Other Posts</a></div> -->
                      <!-- <a href="#" onclick="history.go(-1)">Go Back</a>                   -->
                    <br/></br/><br>

                  </div>
                </div>
              </div>
          </div>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">

            <div class="more-info">
              <ul class="list-ico">
                <li><span class="bi bi-envelope"></span> mikhailryamov@gmail.com</li>
              </ul>
            </div>
            <div class="socials">
              <ul>
                <li><a href="https://github.com/MikRyam"><span class="ico-circle"><i class="bi bi-github"></i></span></a></li>
                <li><a href="https://t.me/MikhailRyam"><span class="ico-circle"><i class="bi bi-telegram"></i></span></a></li>
                <li><a href="https://wa.me/79099510000"><span class="ico-circle"><i class="bi bi-whatsapp"></i></span></a></li>
                <!-- <li><a href=""><span class="ico-circle"><i class="bi bi-github"></i></span></a></li> -->
                <!-- <li><a href=""><span class="ico-circle"><i class="bi bi-instagram"></i></span></a></li> -->
                <!-- <li><a href=""><span class="ico-circle"><i class="bi bi-twitter"></i></span></a></li> -->
                <li><a href=""><span class="ico-circle"><i class="bi bi-linkedin"></i></span></a></li>
              </ul>
            </div>
          </div>


          <!-- <div class="copyright-box">
            <p class="copyright">&copy; Copyright <strong>DevFolio</strong>. All Rights Reserved</p>
            <div class="credits"> -->
              <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=DevFolio
            -->
              <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
          </div> -->

        </div>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'portfolio/vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static 'portfolio/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'portfolio/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'portfolio/vendor/swiper/swiper-bundle.min.js' %}"></script>


  <!-- Template Main JS File -->
  <script src="{% static 'portfolio/js/main.js' %}"></script>

</body>
{% endcache %}

</html>